<%= form_for @manufacturer do |f| %>
  <% if @manufacturer.errors.any? %>
    <ul>
    <% @manufacturer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br>

  <%= f.label :country %>:
  <%= f.text_field :country %><br>

  <%= f.submit 'Submit' %>
<% end %>
