<!DOCTYPE html>
<html>
<head>
  <title>CarListings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

<div class='navbar-fixed-bottom foot'>
    <%= link_to 'Cars Home', cars_path %> |
    <%= link_to 'New Car', new_car_path %> |
    <%= link_to 'Manufacturers Home', manufacturers_path %> |
    <%= link_to 'New Manufacturer', new_manufacturer_path %>
</div>

</body>
</html>
